
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-form {
    margin-top: -100px;
    border: solid 1px;
    width: 300px;
    margin: -100px auto 0;
    padding: 20px;
}